  #cuenta_carrito {
    background-color: orangered;
    border-radius: 100%;
    aspect-ratio: 1;
    display: inline-block;
    text-align: center;
    width: 20px;
    line-height: 20px;
  }
  h1 {
    color: rgb(33, 206, 191);
  }
  
  h2 {
    color: rgb(88, 15, 184);
  }

  .title {
    text-align: center;
  }

  .imagen-principal {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    border: 5px solid rgb(158, 223, 7);
  }

  .imagenDos {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    border: 5px solid rgb(0, 255, 21);
}

[popover] {
  transition: translate 10s ease-in-out ,
  display 10s ease-in-out allow-discrete;
  translate: 0 -100dvh;
}

[popover]:popover-open {
  translate: 0;
}

[popover]::backdrop {
  background-color: rgba(137, 43, 226, 0.253);
}

.color_selection {
  border-radius: 50%;
  border: solid 2px rgb(97, 93, 93);
  width: 30px;
  height: 30px;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

.color_selection:focus {
  outline: 2px solid rgb(36, 35, 35);
};
